* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* cursor: pointer; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.Toastify {
  height: 0px;
  padding: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* card css  */
.cards:hover {
  color: white !important;
}

.cards a {
  color: inherit;
}

.cards a:hover {
  color: white;
}

/* Home page slider css  */
.carousel-item {
  display: flex;
  align-items: center;
  height: 100%;
  background-position: cover !important;
  color: red !important;
}

#hero img {
  position: unset !important;
}

.carousel-caption {
  top: 15% !important;
  left: 1% !important;
  width: 100% !important;
  font-weight: bolder;
  color: rgb(5, 5, 99) !important
}

.carousel-indicators {
  top: 90%;
}

.carousel-indicators button {

  cursor: pointer;
  background: #2e33e9 !important;
  overflow: hidden !important;
  border: 0 !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50px !important;
  margin-bottom: 180px !important;
  opacity: 0.2;
}

.carousel-indicators button .active {
  opacity: 1 !important;
}

.carousel-control-prev:before {
  left: 20%
}

#hero .carousel-control-next,
#hero .carousel-control-prev {
  color: black !important;
  z-index: 99999999999999999;
}

.carousel img {
  height: auto !important;

}

.carousel-item,
.carousel-inner,
.carousel,
#hero {
  height: auto !important;
  max-height: 50vh !important;
}

#topbar {
  background-color: #060841e2 !important
}

#topbar .contact-info i a:hover {
  color: #fbfbfb !important;
}

#topbar a:hover {
  color: #fbfbfb !important;
}

#topbar .contact,
#topbar a {
  color: #bababa !important;
  cursor: pointer !important;
}

.bi-x {
  font-size: 22px !important;
}

.progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 9999999999;
  background: rgb(21, 0, 255);
  transform-origin: 0%;
}

.servicesHeading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #f8f8fce2;
  margin: auto;

}

#services {
  color: white !important;
}

#services h4 a {
  color: white !important;
}

#globalModal {
  z-index: 99999999999999;
}

.carousel-caption {
  top: 44% !important;
  left: 8% !important;
}